target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Lab1 specific excludes
*.log
.editor_workspace



### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# --- 忽略所有 Markdown 文件 ---
*.md

# --- 但是！强制保留以下重要文档 (白名单) ---
!README.md
!README_lab2.md